body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:655px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:22px;
  width:375px;
  height:654px;
  font-size:18px;
  color:#666666;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:41px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:22px;
  width:376px;
  height:40px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:37px;
  width:6px;
  height:8px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:37px;
  width:6px;
  height:8px;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:37px;
  width:6px;
  height:8px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:37px;
  width:6px;
  height:8px;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:37px;
  width:6px;
  height:8px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:34px;
  width:27px;
  height:17px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:39px;
  width:17px;
  height:7px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:39px;
  width:4px;
  height:7px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:33px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:35px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:34px;
  width:72px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:67px;
  width:58px;
  height:32px;
  font-size:16px;
  color:#FF0000;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:67px;
  width:58px;
  height:32px;
  font-size:16px;
  color:#FF0000;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:72px;
  width:157px;
  height:22px;
  font-size:14px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:153px;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:104px;
  width:376px;
  height:1px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:148px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:190px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:232px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#FF0000;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:274px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:316px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:366px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:389px;
  width:40px;
  height:23px;
  color:#999999;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:380px;
  width:22px;
  height:17px;
  color:#999999;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:361px;
  width:376px;
  height:1px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:416px;
  width:375px;
  height:1px;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:422px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:445px;
  width:47px;
  height:23px;
  color:#999999;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:470px;
  width:375px;
  height:1px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:478px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:501px;
  width:40px;
  height:23px;
  color:#999999;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:523px;
  width:375px;
  height:1px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:2px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:505px;
  width:390px;
  height:1px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:501px;
  width:237px;
  height:2px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:85px;
  height:5px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:499px;
  width:82px;
  height:2px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:489px;
  width:22px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:499px;
  width:8px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:573px;
  width:375px;
  height:1px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:539px;
  width:88px;
  height:20px;
  font-size:16px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:534px;
  width:49px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:535px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:622px;
  width:375px;
  height:1px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:579px;
  width:73px;
  height:20px;
  font-size:16px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:599px;
  width:67px;
  height:23px;
  color:#999999;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:627px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:650px;
  width:40px;
  height:23px;
  color:#999999;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:590px;
  width:22px;
  height:17px;
  color:#999999;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:643px;
  width:22px;
  height:17px;
  color:#999999;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:260px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:248px;
  width:270px;
  height:259px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:254px;
  width:57px;
  height:26px;
  color:#999999;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:53px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:283px;
  width:42px;
  height:29px;
  font-size:18px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:322px;
  width:69px;
  height:29px;
  font-size:18px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:372px;
  width:71px;
  height:29px;
  font-size:18px;
  color:#0099FF;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:316px;
  width:237px;
  height:1px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:361px;
  width:237px;
  height:1px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:450px;
  width:237px;
  height:1px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:405px;
  width:237px;
  height:1px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:432px;
  width:13px;
  height:24px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:375px;
  width:21px;
  height:24px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:387px;
  width:11px;
  height:12px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:416px;
  width:71px;
  height:29px;
  font-size:18px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:463px;
  width:71px;
  height:29px;
  font-size:18px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
