body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:655px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:22px;
  width:375px;
  height:654px;
  font-size:18px;
  color:#666666;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:41px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:22px;
  width:376px;
  height:40px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:37px;
  width:6px;
  height:8px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:37px;
  width:6px;
  height:8px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:37px;
  width:6px;
  height:8px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:37px;
  width:6px;
  height:8px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:37px;
  width:6px;
  height:8px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:34px;
  width:27px;
  height:17px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:39px;
  width:17px;
  height:7px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:39px;
  width:4px;
  height:7px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:33px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:35px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:34px;
  width:72px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:67px;
  width:58px;
  height:32px;
  font-size:16px;
  color:#FF0000;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:67px;
  width:58px;
  height:32px;
  font-size:16px;
  color:#FF0000;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:72px;
  width:157px;
  height:22px;
  font-size:14px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:153px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:104px;
  width:376px;
  height:1px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:148px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:190px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:232px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#FF0000;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:274px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:316px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:366px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:389px;
  width:40px;
  height:23px;
  color:#999999;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:380px;
  width:22px;
  height:17px;
  color:#999999;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:361px;
  width:376px;
  height:1px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:416px;
  width:375px;
  height:1px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:422px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:445px;
  width:47px;
  height:23px;
  color:#999999;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:470px;
  width:375px;
  height:1px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:478px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:501px;
  width:40px;
  height:23px;
  color:#999999;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:523px;
  width:375px;
  height:1px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:2px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:505px;
  width:390px;
  height:1px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:501px;
  width:237px;
  height:2px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:85px;
  height:5px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:499px;
  width:82px;
  height:2px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:489px;
  width:22px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:499px;
  width:8px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:573px;
  width:375px;
  height:1px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:539px;
  width:88px;
  height:20px;
  font-size:16px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:534px;
  width:49px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:535px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:622px;
  width:375px;
  height:1px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:579px;
  width:73px;
  height:20px;
  font-size:16px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:599px;
  width:67px;
  height:23px;
  color:#999999;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:627px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:650px;
  width:40px;
  height:23px;
  color:#999999;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:590px;
  width:22px;
  height:17px;
  color:#999999;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:643px;
  width:22px;
  height:17px;
  color:#999999;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:132px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:220px;
  width:270px;
  height:131px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:221px;
  width:63px;
  height:29px;
  font-size:18px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:260px;
  width:41px;
  height:25px;
  font-size:18px;
  color:#000000;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:293px;
  width:237px;
  height:1px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:432px;
  width:13px;
  height:24px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:308px;
  width:63px;
  height:29px;
  font-size:18px;
  color:#0099FF;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:308px;
  width:63px;
  height:29px;
  font-size:18px;
  color:#0099FF;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:245px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:378px;
  width:375px;
  height:245px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
