body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:655px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:22px;
  width:375px;
  height:654px;
  font-size:18px;
  color:#666666;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:41px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:22px;
  width:376px;
  height:40px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:37px;
  width:6px;
  height:8px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:37px;
  width:6px;
  height:8px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:37px;
  width:6px;
  height:8px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:37px;
  width:6px;
  height:8px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:37px;
  width:6px;
  height:8px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:34px;
  width:27px;
  height:17px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:39px;
  width:17px;
  height:7px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:39px;
  width:4px;
  height:7px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:33px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:35px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:34px;
  width:72px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:67px;
  width:58px;
  height:32px;
  font-size:16px;
  color:#FF0000;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:67px;
  width:58px;
  height:32px;
  font-size:16px;
  color:#FF0000;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:72px;
  width:157px;
  height:22px;
  font-size:14px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:153px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:104px;
  width:376px;
  height:1px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:148px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:190px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:232px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#FF0000;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:274px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:316px;
  width:300px;
  height:37px;
  font-size:36px;
  color:#999999;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:366px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:389px;
  width:40px;
  height:23px;
  color:#999999;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:380px;
  width:22px;
  height:17px;
  color:#999999;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:361px;
  width:376px;
  height:1px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:416px;
  width:375px;
  height:1px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:422px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:445px;
  width:47px;
  height:23px;
  color:#999999;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:470px;
  width:375px;
  height:1px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:478px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:501px;
  width:40px;
  height:23px;
  color:#999999;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:523px;
  width:375px;
  height:1px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:2px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:505px;
  width:390px;
  height:1px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:501px;
  width:237px;
  height:2px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:85px;
  height:5px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:499px;
  width:82px;
  height:2px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:489px;
  width:22px;
  height:22px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:499px;
  width:8px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:573px;
  width:375px;
  height:1px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:539px;
  width:88px;
  height:20px;
  font-size:16px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:534px;
  width:49px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:535px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:622px;
  width:375px;
  height:1px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:579px;
  width:73px;
  height:20px;
  font-size:16px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:599px;
  width:67px;
  height:23px;
  color:#999999;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:627px;
  width:40px;
  height:23px;
  font-size:16px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:650px;
  width:40px;
  height:23px;
  color:#999999;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:590px;
  width:22px;
  height:17px;
  color:#999999;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:643px;
  width:22px;
  height:17px;
  color:#999999;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:260px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:230px;
  width:270px;
  height:259px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:236px;
  width:34px;
  height:26px;
  color:#999999;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:265px;
  width:58px;
  height:29px;
  font-size:18px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:304px;
  width:94px;
  height:29px;
  font-size:18px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:354px;
  width:43px;
  height:29px;
  font-size:18px;
  color:#0099FF;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:398px;
  width:94px;
  height:29px;
  font-size:18px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:448px;
  width:63px;
  height:29px;
  font-size:18px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:298px;
  width:237px;
  height:1px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:343px;
  width:237px;
  height:1px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:432px;
  width:237px;
  height:1px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:387px;
  width:237px;
  height:1px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:432px;
  width:13px;
  height:24px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:357px;
  width:21px;
  height:24px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:369px;
  width:11px;
  height:12px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
